@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');



*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html{
    scroll-behavior: smooth;
}
:root {
    --cor-primaria: #FFDADA; /* Definindo uma variável de cor primária */
    --cor-secundaria: #FF5759; /*cor secundaria para letras e tituos */
    --cor-terceira: #DF2F4F; /*para destaques*/
}

 
body{
    background-color: var(--cor-primaria);
}

section{
    padding: 28px 8%;
}
.btn-default {
    border: none;
    display: flex; /*caso botar icone ao lado*/
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .3s ease;
    color: #fff;

}

.btn-default:hover{
    background-color: #fc8082;  /*cor ao passar o mouse em cima do botao*/
}

.social-media-buttons{
    display: flex;
    gap: 18px;
}
.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--cor-primaria);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: brown;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}
.social-media-buttons a:hover{
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.fa-whatsapp,
.fa-facebook,
.fa-instagram{
    font-size: 25px;
    display: flex;
    align-items: center;
}

.section-title{
    color: #DF2F4F;
    font-size: 1.563rem;
}
.section-subtitle{
    font-size: 2.1875rem;
    color: var(--cor-quarta);
}